# Dependencies
/node_modules
/src/variables/rough.js
/src/variables/rough.jsx



# Production
/dist
/build

# Environment variables
.env


# Logs
logs
*.log
npm-debug.log*

# Editor directories and files
.vscode/
.idea/
.DS_Store